black
flake8 >= 3.9.*
flake8-absolute-import >= 1.*
flake8-docstrings >=1.6.*pandas
isort
numpydoc >= 1.1.0
pre-commit >= 2.13.*
pytest
pytest-cov
sphinx_rtd_theme
sphinx >= 4.1.*
sphobjinv # sphobjinv suggest --url http://pandas.pydata.org/pandas-docs/stable/objects.inv :class: -s -t 90
wheel